.display-page {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.display-page .layout {
  background: transparent;
}

.display-page .grid-item {
  border-radius: 6px;
  overflow: hidden;
}

.display-page .component-header {
  border-bottom: 1px solid transparent;
  padding: 8px 12px;
}

.display-page .component-title {
  font-size: 13px;
  font-weight: 500;
}

.display-page .component-body {
  height: calc(100% - 36px);
  overflow: hidden;
}
